<html>
<body>
	<form action='/home' method="POST">
		<button>
		<a href = '/login' type="submit" value="submit" class="btn">login</a></button>
	</form>
	<form action='/home' method="POST">
		<button>
		<a href = '/signup' type="submit" value="submit" class="btn">signup</a>
	</button>
	</form>
	<form action='/home' method="POST">
		<button>
		<a href = '/profile' type="submit" value="submit" class="btn">profile</a>
	</button>
	</form>
	<form action='/home' method="POST">
		<button>
		<a href = '/signout' type="submit" value="submit" class="btn">signout</a>
	</button>
	</form>